html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  background-color: #f7f9fa;
  color: #333333;
}

main {
  height: 100%;
  position: relative;
}

form {
  position: absolute;
  top: 20%;
  left: 25%;
  right: 25%;
  width: 350px;
  margin: 0 auto;
}

form .content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

form h1 {
  text-align: center;
}

a {
  color: blue;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #cccccc;
  padding: 10px;
  width: 93%;
  margin-bottom: 10px;
}

input[type="button"] {
  cursor: pointer;
  border: 0;
  padding: 10px 17px;
  border-radius: 10px;
  background-color: #0070ba;
  color: #ffffff;
  width: 100%;
}

#login {
  color: #0070ba;
}
